.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-card-bg);
  border-radius: 12px;
  overflow: hidden;
  box-shadow: var(--color-shadow);
  transition: transform 0.2s ease-in-out;
  text-decoration: none;
  color: var(--color-text-primary);
  height: 100%;
  flex-shrink: 0;
  width: 300px;
  scroll-snap-align: start;
}

.card:hover {
  transform: translateY(-5px);
}

.imageWrapper {
  position: relative;
  width: 100%;
  height: 200px;
  overflow: hidden;
}



.categoryTag {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--color-medium-blue);
  color: var(--color-text-light);
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 0.8em;
  font-weight: bold;
}

.content {
  padding: 15px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.name {
  margin-bottom: 8px;
  font-size: 1.3em;
  color: var(--color-dark-blue);
}

.ratingLocation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  font-size: 0.9em;
  color: #666;
}

.rating, .location {
  display: flex;
  align-items: center;
  gap: 5px;
}

.description {
  font-size: 0.9em;
  color: #555;
  margin-top: auto;
}